.wrapper {
    border: 1px solid green;
}
.zeusDiv {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* background-image: url("common/assets/image/zeus-1.jpg"); */

    /* transition: transform .6s cubic-bezier(.24;1;.3;1);opacity .55s ease .25s; */
    opacity: 1;
    /* padding: 5%; */
    min-height: 500px;
    position: relative;
}
.zeusDiv:hover {
    /* background-size: contain; */
    transition: all 6s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
    /* padding: 5%; */

    /* width: 95%; */
}

.contentDiv {
    color: white;
    position: relative;
    /* bottom: 20px; */
    height: 100%;
}
.content {
    /* height: 130% !important; */
    position: relative;
    bottom: 0px;
    padding-top: 90%;
    width: 100%;
    border: 1px solid red;
    transition:  all 6s ease-in-out;
}
.contentDiv:hover .content{
    /* padding-top: 50%; */

}
.contentDiv:hover + .extraContent {
    display: block;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.extraContent {
    display: none;
    /* padding: 5%; */
    padding-top: 0;
    transition: all 6s ease-in-out;
}
.contentDiv:hover .extraContent {
    display: block;
    /* transition: all 6s ease-in-out; */

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f8c348 100%);
}

.heading {
    font-size: 65px;
    line-height: 1;
    /* margin-bottom: 0; */
}
