@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700;800&display=swap");
body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #152a40 !important;
}
.main-sidebar {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      padding-left: 20px;
      position: relative;
      height: 40px;
      margin-bottom: 46px;
      margin-left: -5px;
    }
    a {
      display: inline-block;
      margin-left: 50px;
      font-size: 28px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.2);
      text-decoration: none;
    }
  }
}
.indecator {
  background: linear-gradient(to bottom, #f8c348, #f84342);
  width: 3px;
  height: 42px;
  position: absolute;
  transition: left ease-in-out 0.5s;
  &.july {
    transform: translate3d(-2px, 0px, 0px) !important;
    transition: transform 0.5s cubic-bezier(0, 0, 0.34, 0.96),
      max-height 0.5s cubic-bezier(0, 0, 0.34, 0.96);
  }
  &.august {
    transform: translate3d(-2px, 85px, 0px);
    transition: transform 0.5s cubic-bezier(0, 0, 0.34, 0.96),
      max-height 0.5s cubic-bezier(0, 0, 0.34, 0.96);
  }
  &.september {
    transform: translate3d(-2px, 170px, 0px);
    transition: transform 0.5s cubic-bezier(0, 0, 0.34, 0.96),
      max-height 0.5s cubic-bezier(0, 0, 0.34, 0.96);
  }
}
.heading {
  font-weight: 800 !important;
  font-family: "Vollkorn", serif !important;
  color: #f8c348;
  background-image: linear-gradient(to right, #f84342, #f8c348);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.element {
  margin-bottom: 400px;
}
.list p {
  font-family: "Montserrat", sans-serif !important;
}
.active a {
  color: #fff !important;
}

@media (max-width: 992px) {
  .container {
    max-width: 600px !important;
  }
}
@media only screen and (min-width: 992px) {
  .md-none {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1286px !important;
  }
}
@media only screen and (max-width: 992px) {
  .sm-none {
    display: none;
  }
  .heading {
    font-size: 48px !important;
    margin-bottom: 14px !important;
  }
  .element {
    margin-bottom: 100px;
  }
  .full-md {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}
